## PLS (Principal Least Squares Regression)

In [20]:
import pandas as pd
hitters = pd.read_csv('Hitters.csv')
df = hitters.copy()
df.dropna(inplace=True)

In [21]:
dummies = pd.get_dummies(df[['League', 'Division', 'NewLeague']])

In [22]:
dummies.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

### Prepare data

In [23]:
X_ = df.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1).astype('float64')

In [24]:
y = df['Salary']

In [25]:
X = pd.concat([X_, dummies[['League_N', 'Division_E', 'NewLeague_A']]], axis=1)

### Prepare train-test data

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [28]:
from sklearn.cross_decomposition import PLSRegression, PLSSVD

In [36]:
pls_model = PLSRegression(n_components=6).fit(X_train, y_train)

In [38]:
pls_model.coef_

array([[-108.74143193],
       [ 197.6386967 ],
       [  22.57338481],
       [  26.52768741],
       [ -25.67952167],
       [  54.16363009],
       [ -25.89997437],
       [   5.36637756],
       [  89.44665343],
       [  26.79039104],
       [ 102.43239418],
       [  68.82932424],
       [ -61.11470635],
       [  94.44121847],
       [  26.38215013],
       [ -45.01850138],
       [  77.17773908],
       [  35.85447586],
       [  45.66863853]])